<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular 2: Starter</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <app></app>
  
  <script src="vendor.bundle.js"></script>
  <script src="app.bundle.js"></script>
</body>
</html>
